{% extends 'info_sharing_app/base.html' %}

{% block content %}
<div id="readme">
    <div>
        <h2>本ポートフォリオについて</h2>
        <ul>
            <li>
                Python の Django というフレームワークを使用して、情報共有ツールを作成しました。
            </li>
            <li>
                4つの基本機能(Create, Read, Update, Delete)に加えて、認証機能が組み込まれています。
            </li>
            <li>
                サーバサイド開発に焦点を当てているため、HTML/CSSは非常にシンプルなコードになっております。個人で活動していた際にサンプルとして公開していたWebページ(<a href="https://orangeahiru.com/sample/sample1">サンプル1</a>, <a href="https://orangeahiru.com/sample/sample2">サンプル2</a>)があるため、必要に応じてご覧いただけますと幸いです。
            </li>
            <li>
                <a href="">GitHubへのリンク</a>
            </li>
        </ul>
    </div>
    <div>
        <h2>機能</h2>
        <ul>
            <li>
                ホームディレクトリでは、作成された情報の一覧を閲覧することができます。タイトルが詳細画面へのリンクになっています。
            </li>
            <li>
                認証機能：画面右上のリンクからログインすることで、1. 情報の作成(シェア)、2. 情報の編集、3. 情報の削除、4. 情報へのコメント が可能になります。
            </li>
            <li>
                フォームのバリデーション機能は Django に用意されているものを使用しています。
            </li>
        </ul>
    </div>
    <div>
        <h2>学習に使ったもの</h2>
        <ol>
            <li>Pythonの基本書３冊</li>
            <li>Django Girls Tutorial</li>
            <li>Django 公式ドキュメント</li>
        </ol>
        <ul>
            <li>
                書籍を使って Python の基本文法などを学習した後、Django Girls Tutorial を何度か実装しながら公式ドキュメントを読みました。
            </li>
            <li>
                本ポートフォリオは、Django Girls Tutorial を参考に作成しました。
            </li>
        </ul>
    </div>
</div>
{% endblock %}